.place__image {
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 44.921875vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 59.895833333333336vw;
  }
}

@media screen and (max-width: 675px) {
  .place__image {
    max-width: 320px;
  }
}
