.footer {
  display: flex;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 96px);
  max-width: 1184px;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 0;
    width: 186px;
    max-width: 186px;
    flex-direction: column;
  }
}
